.cards {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
}

.cardsTop {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.cards–°alendar {
    width: 76px;
    height: 76px;
    color: #717CFF;
    background: #f7f3f3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.number {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    text-align: center;
    color: #717CFF;
}

.month {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #717CFF;
}

.cardstitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;


}

.desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 30px;

}

.cardsBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learnMoreblock {
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
}

.learnMore {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

.clockBlock {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.time {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.444444px;
    color: #373737;
}